/*.root {*/
/*    -fx-background-image: url(../images/logo.gif);*/
/*}*/
.button {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#44aae1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.label {
    -fx-font-size: 15px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight:bold;
    -fx-text-fill: #204f8c;
    -fx-effect: dropshadow( gaussian , rgb(20, 159, 214), 0,0,0,1 );
}


#textResponse {

    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgb(20, 153, 214), 0,0,0,1 );
}

.table-row-cell:selected {
    -fx-background-color: #001632;;
    -fx-font-family: "Comic Sans MS";

}
.table-row-cell:selected .text {
    -fx-fill: #4490e1;
    -fx-font-family: "Comic Sans MS";
}

#tableColumnFirstName{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-text-fill:#4490e1;
    -fx-effect: dropshadow( gaussian , rgb(20, 153, 214), 0,0,0,1 );


}

#tableColumnLastName{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-text-fill:#4490e1;
    -fx-effect: dropshadow( gaussian , rgb(20, 153, 214), 0,0,0,1 );

}

