.button {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#44aae1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.label {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-effect: dropshadow( gaussian , rgb(21, 106, 143), 0,0,0,1 );
}

.table-row-cell:selected {
    -fx-background-color: #001632;;
    -fx-font-family: "Comic Sans MS";

}
.table-row-cell:selected .text {
    -fx-fill: #4490e1;
    -fx-font-family: "Comic Sans MS";
}
#idFirstName{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-text-fill: #448be1;
    -fx-effect: dropshadow( gaussian , rgb(53, 126, 176), 0,0,0,1 )


}

#idLastName{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-text-fill: #448be1;
    -fx-effect: dropshadow( gaussian , rgb(53, 126, 176), 0,0,0,1 )

}
#idMessage{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-text-fill: #448be1;
    -fx-effect: dropshadow( gaussian , rgb(53, 126, 176), 0,0,0,1 )

}

#idStatus{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-text-fill: #448be1;
    -fx-effect: dropshadow( gaussian , rgb(53, 126, 176), 0,0,0,1 )

}
#idSentDate{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-text-fill: #448be1;
    -fx-effect: dropshadow( gaussian , rgb(53, 126, 176), 0,0,0,1 )

}