.button {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#44aae1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#idWelcome{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 26px;
    -fx-font-weight:bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( gaussian , rgb(20, 159, 214), 0,0,0,1 );
}
.label {
    -fx-font-size: 15px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight:bold;
    -fx-text-fill: #3d3d45;
    -fx-effect: dropshadow( gaussian , rgb(20, 159, 214), 0,0,0,1 );
}
.table-row-cell:selected {
    -fx-background-color: #001632;;
    -fx-font-family: "Comic Sans MS";

}
.table-row-cell:selected .text {
    -fx-fill: #4490e1;
    -fx-font-family: "Comic Sans MS";
}

#tableColumnFirstName{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-text-fill: #448be1;
    -fx-effect: dropshadow( gaussian , rgb(53, 126, 176), 0,0,0,1 );

}
#tableColumnDate{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-text-fill: #448be1;
    -fx-effect: dropshadow( gaussian , rgb(53, 126, 214), 0,0,0,1 );

}
#tableColumnMessage{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-text-fill: #448be1;
    -fx-effect: dropshadow( gaussian , rgb(53, 126, 214), 0,0,0,1 );

}
#tableColumnLastName{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
    -fx-text-fill: #448be1;
    -fx-effect: dropshadow( gaussian , rgb(53, 126, 214), 0,0,0,1 );

}
